* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(215, 250, 210);
  }
  .row{
    background-color: rgb(236, 244, 238);
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgb(145, 204, 163);
  }
  img{
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
  }
  .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    background-color: rgb(171, 225, 171);
    color: azure;
    border-radius: 4px;
    font-weight: bold;
  }
  .btn1:hover{
    background-color: azure;
    border: 1px solid;
    color: rgb(171, 225, 171);
  }