* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-height: 96vh;
    background: linear-gradient(135deg, #4ff8e2, #42c742);
    background-repeat: no-repeat;
  }
  .row{
    background-color: whitesmoke;
    border-radius: 30px;
  }
  img{
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
  }
  .btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    background-color: #2AD401;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    opacity: .7;
    transition: 1s;
  }
  .btn1:hover{
    opacity: 1;
  }

  @media screen and (max-width: 767px) {
    .t-center{
      text-align: center;
    }

    .btn1{
      align-items: center;
    }

    .btn-center{
      text-align: center;
    }
  }
