/* Main - halaman utama */
    .main-halaman-utama{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        gap: 36px;
    }

    .kiri-main-halaman-utama{
        width: 70%;
    }

    .artikel-utama{
        flex-direction: row;
        gap: 10px;
    }

    .kanan-main-halaman-utama{
        width: 30%;
        display: flex;
        justify-content: end;
    }

    .artikel-populer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

/* Versi mobile */
@media screen and (max-width: 767px) {
    .main-halaman-utama{
        flex-direction: column-reverse;
    }

    .kiri-main-halaman-utama{
        width: 100%;
    }

    .artikel-utama{
        flex-direction: column;
    }

    .kanan-main-halaman-utama{
        width: 100%;
        justify-content: center;
    }
}