/* Nav */
.btn-login{
    background-color: #2AD401;
}

.categories-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(234, 234, 234);
    padding: 8px 12px;
    border-radius: 8px;
    color: #2AD401;
}

.categories-btn:hover{
    color: #2AD401;
}

.img-nav{
    display: none;
}

.input-search-nav{
    display: flex;
    gap: 12px;
    width:100%;
}

/* AKhir Navigasi */

/* Header */
header{
    background-color: white;
}

.img-header{
    display: block;
}

.input-search-header{
    display: none;
}

/* AKhir Header */

@media screen and (max-width: 767px) {
    .img-nav{
        display: block;
    }

    .input-search-nav{
        display: none;
    }

    .img-header{
        display: none;
    }
}